/* .head {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}

.panel1 {
    display: flex;
    background-color: #1F2937;
    color: white;
}

img {
    background-color: gray;
}

button {
    background-color: blue;
} */